
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<html>
<head>
    <style>
        .logo {
            height: 80px;
            display: block;
            margin: 0 auto 50px;
        }

        .container div {
            width: 400px;
            display: block;
            margin: 0 auto;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        textarea {
            display: block;
            width: 300px;
            height: 40px;
            padding: 20px;
            border-radius: 5px;
            background: #fff;
            border: none;
            outline: none;
            margin: 20px 0;
            color: #383838;
            font-size: 14px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
            font-family: 'roboto', sans-serif;
        }

        select {
            display: block;
            width: 300px;
            height: 40px;
            padding: 0 20px;
            border-radius: 5px;
            background: #fff;
            text-transform: capitalize;
            border: none;
            outline: none;
            color: #383838;
            font-size: 14px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
            font-family: 'roboto', sans-serif;
        }

        ::placeholder {
            color: #383838;
        }

        div .btns {
            width: 400px;
            display: flex;
            justify-content: space-around;
        }

        .submit-btn {
            width: 100%;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background: #383838;
            color: #fff;
            border-radius: 2px;
            text-transform: capitalize;
            border: none;
            cursor: pointer;
            display: block;
            margin: 30px 0;
            transition: display 3s ease;
        }


        /* checkbox styles */

        .checkbox {
            -webkit-appearance: none;
            position: relative;
            width: 15px;
            height: 15px;
            border-radius: 2px;
            background: #fff;
            border: 1px solid #383838;
            cursor: pointer;
        }

            .checkbox:checked {
                background: #383838;
            }

            .checkbox::after {
                content: '';
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                height: 100%;
                pointer-events: none;
                background-image: url(../img/check.png);
                background-size: contain;
                background-repeat: no-repeat;
                display: none;
            }

            .checkbox:checked::after {
                display: block;
            }

        label {
            text-transform: capitalize;
            display: inline-block;
            margin-bottom: 10px;
            font-size: 14px;
            color: #383838;
        }

            label a {
                color: #383838;
            }

        .link {
            color: #383838;
            text-transform: capitalize;
            text-align: center;
            display: block;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="~/Content/resources/dark-logo.png" class="logo" alt="">
        <p>@ViewBag.error</p>
        <div>
            @using (Html.BeginForm("Login", "Home1", new { returnUrl = Request.Url.PathAndQuery }, FormMethod.Post))
            {

                <input type="email" autocomplete="off" id="email" placeholder="email" name="email" required>
                <input type="password" autocomplete="off" id="password" placeholder="password" name="password" required>
                <div class="btns">
                    <button id="log in" class="submit-btn" name="login" value="log in">log in</button>

                </div>

            }
        </div>
        <a href="SignUp" class="link">dont have an account? Sign up here</a>
    </div>
</body>
</html>


